<div class="view-login" fxLayout="row" fxLayoutAlign="start none">
  
  <div class="container-form" fxLayout="column" fxLayoutAlign="start center">
    <img class="img-header" src="https://www.paginasamarillasdepanama.com/uploads/logos/logo-satrack.jpg" alt="satrack">    
    
    <mat-form-field class="user"> 
        <input [formControl]="user" matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field class="password">
          <input type="password" [formControl]="password" matInput placeholder="Input">
        </mat-form-field>

    <div class="div-button">
      <button [disabled]="user.invalid || password.invalid" (click)="login()" mat-raised-button color="primary">Iniciar sesión</button>
    </div>
  </div>


  <div class="container-img" fxLayout="row" fxLayoutAlign="center center" >
    <img class="logo" src="../../../assets/img/client.jpg" alt="satrack">
  </div>
</div>
