.view-login{
    height: 100%;
    
    .container-form 
    {
     width: 30%;
     padding: 40px 25px 0 25px;     

        .img-header{
            height: 125px;
            width: 165px;     
            margin-bottom: 60px;           
        }

        .user{
            width: 100%
        }

        .password{
            width: 100%
        }

        .div-button{
            margin-top: 25px;
            
            button{
                text-transform: uppercase
            }
        }
    }

    .container-img
    {    
     width: 70%;     
     background-color: #f3f3f3;
    
      .logo{
          height: 100%;
          width: 100%;
      }        
    }
}