.view-login{
    height: 100%;
    
    .container-form 
    {
     width: 30%;
     padding-top: 40px;     

        .img-header{
            height: 125px;
            width: 165px;     
            margin-bottom: 60px;           
        }

        .user{
            width: 100%
        }

        .password{
            width: 100%
        }
    }

    .container-img
    {    
     width: 70%;     
     background-color: #f3f3f3;
    
      .logo{
          height: 120px;
          width: 400px;
      }        
    }
}